<div style="text-align:center;">
  <h3>수정하기</h3>

  <form action="{% url 'update' blog.id %}" method="post">
    {%csrf_token%}
    
    <p>제목 <input type="text" name="title" value = "{{blog.title}}"></p>
    <!-- <p>작성자 <input type="text" name="writer" value = "{{blog.writer}}"></p> -->
    
    본문 <br><br>
    <textarea name="body" id="" cols="50" rows="25">{{blog.body}}</textarea>
    <br><br>
    <button type="submit">작성하기</button>

  </form>
  <a href="{% url 'detail' blog.id %}">취소</a>
</div>